<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892662773397-k78epddlfsuqg37mq7c4pd8umgqs5lig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892662773397-k78epddlfsuqg37mq7c4pd8umgqs5lig</string>
	<key>API_KEY</key>
	<string>AIzaSyAmY9Amok8lrSODes-ijsv0CiRlj_G-fiw</string>
	<key>GCM_SENDER_ID</key>
	<string>892662773397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxy.mobile</string>
	<key>PROJECT_ID</key>
	<string>galaxy-mobile-a9387</string>
	<key>STORAGE_BUCKET</key>
	<string>galaxy-mobile-a9387.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892662773397:ios:fef03d5a16d257ce6c8d9c</string>
</dict>
</plist>